.container {
  width: 100svw;
  height: 100svh;
  background: radial-gradient(
    circle,
    #393939 76px,
    #313131 77px,
    #313131 117px,
    #2a2a2a,
    118px,
    #2a2a2a,
    172px,
    #262626 173px,
    #262626 253px,
    #222222 254px
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 4rem 0;
  gap: 2rem;
  animation: ShakeBackground 0.25s linear infinite;
}
.timesUpIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0% 0%;
}
.timesUpTitle {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 46px;
  text-align: center;
  color: #fff;
  letter-spacing: 3.5px;
  margin: 0;
  text-shadow: 2px 2px 2px #111;
  margin-bottom: 12rem;
}
.leaveTimesUpButton {
  font-size: 1.6rem;
  line-height: 21px;
  font-weight: bold;
  letter-spacing: 2px;
  background: transparent;
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid #ddd;
  color: #ddd;
}
@keyframes ShakeBackground {
  0%,
  100% {
    background-size: 200% 200%;
    background-position: 50% 50%;
  }
  25% {
    background-position: 50.5% 49.5%;
  }
  50% {
    background-position: 49.5% 50.5%;
  }
  75% {
    background-position: 50.5% 49.5%;
  }
}
