.container {
  position: absolute;
  height: 60px;
  width: 100%;
}
.buttonNav {
  position: absolute;
  left: 1.3rem;
  top: 1.3rem;
  background: transparent;
  padding: 0;
  border: 0;
  z-index: 99;
  transition: color 1s;
}
.navIcon {
  position: absolute;
}
.headerTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
