.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100svh;
  padding: 2.5rem;
  gap: 10px;
}
.timeWrapper {
  display: flex;
  align-items: center;
  font-size: 40px;
  height: 100px;
  gap: 30px;
  margin: 0 0 50px;
  position: relative;
}
.minutes {
  position: absolute;
  left: 50%;
  top: 50%;
}
.minutesText {
  font-size: 15px;
  align-self: flex-end;
  text-align: center;
}
.buttonTime {
  border: 0;
  background: transparent;
  transition: 250ms;
}
