.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100svh;
  padding: 2.5rem;
  gap: 2rem;
}
.timeWrapper {
  display: flex;
  align-items: center;
  font-size: 40px;
  height: 100px;
  gap: 3rem;
  margin: 0 0 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.minutes {
  position: absolute;
  left: 50%;
  top: 50%;
}
.minutesText {
  font-size: 15px;
  align-self: flex-end;
  text-align: center;
}
.buttonTime {
  border: 0;
  background: transparent;
  transition: 250ms;
}
.checkboxContainer {
  width: 80%;
  font-size: 2rem;
  letter-spacing: 1px;
  display: flex;
  gap: 1rem;
}
.checkbox {
  display: none;
}

.startTimerButton {
  width: 80%;
  background: transparent;
  border: 1.5px solid #222;
  border-radius: 5px;
  padding: 1rem;
  font-family: "PT Sans";
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.4rem;
}
.dummyBox {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 2px;
  border: 1px solid #333;
  transition: 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.checkbox:checked + .dummyBox {
  background-color: #000;
}
.checkbox:disabled + .dummyBox {
  background-color: #fff;
  border-color: #e6e6e6;
}
